<!DOCTYPE html>
<html>
    <head>
        <title>Django Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django blog</a></h1>
        </header>

        <article>
            <time>published: 29.08.2024, 3:56</time>
            <h2><a href="">First test blog</a></h2>
            <p>This is the first post in this django test blog</p>
        </article>

        <article>
            <time>published: 29.08.2024, 3:56</time>
            <h2><a href="">Second test blog</a></h2>
            <p>This is the secong post in this django test blog</p>
        </article>
    </body>
</html>